{% extends 'layouts/base.twig' %}

{% block content %}
    {% if random_pub %}
        <article id="home-pub-display">
            {% include ['partials/tease-random-publication.twig'] %}
        </article>
    {% endif %}
    
    <h2>{{ recent_article_title }}</h2>
    {% for post in posts %}
        {% include ['partials/tease-' ~ post.type ~ '.twig', 'partials/tease.twig'] %}
    {% endfor %}

    {% include 'partials/pagination.twig' with {
        pagination: posts.pagination({
            show_all: false,
            mid_size: 3,
            end_size: 2
        })
    } %}
{% endblock %}
